/* General Styles */
:root {
    --bg-image-flower: url("images/image.png");
    --bg-image-unflower: url("images/photo-1601126374163-29f78d5e6d9c.avif");
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Utility and State Styles */
.hidden {
    display: none;
}

.transition-opacity {
    transition: opacity 0.5s ease-in-out;
}

.transition-transform {
    transition: transform 0.5s ease-in-out;
}

/* Navbar Styles */
#navBarItems {
    display: flex;
}

@media screen and (max-width: 680px) {
    #navBarItems, #testTest {
        display: none;
    }
}

/* Background Images for Responsive Design */
#flower {
    background-image: var(--bg-image-flower);
}

#unflower {
    background-image: var(--bg-image-unflower);
}

/* Transition and Animation Effects */
.animate__fadeIn,
.animate__fadeOut,
.animate__slideInLeft,
.animate__slideInRight {
    animation-duration: 1s;
}

/* Additional Styling for Text and Layouts */
.text-xl {
    font-size: 1.25rem;
}

.font-bold {
    font-weight: bold;
}

.bg-cover {
    background-size: cover;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.text-center {
    text-align: center;
}

/* Additional Styling for Specific Sections */
.section {
    padding: 20px;
    background-color: #f0f0f0;
}

/* Image Styling */
img {
    width: 100%;
    height: auto;
}


.item {
    height: auto;

}

